<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin's Books Details</title>
    <link
      rel="shortcut icon"
      href="Imgs/stack-of-books.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="Styles/editForm.css" />
  </head>

  <body>

    
    <div class="book-card">
        <button class="close-btn">
            <img src="Imgs/close.png" class="close-img"/>
          </button>
      <div class="book">
        <div class="cover-container">
            <img src="Imgs/bookCover1.jpg" alt="Book-1"class ="book-cover">
            <button class="edit-icon">
                <img src="Imgs/editing.png" class="edit-icon" />
              </button>
        </div>
        <div class="book-details">
          <div class="book-title">
            <h2>Little Women</h2>
            <button class="edit-icon">
                <img src="Imgs/editing.png" class="edit-icon" />
              </button>
          </div>
          <h4 class="author">Louisa May Alcott</h4>
          <p class="discription">Little Women follows the four March sisters—Jo, Beth, Meg, and
            Amy—as they navigate life, love, and personal growth in Civil
            War-era New England. Inspired by Louisa May Alcott's own family, the
            novel explores themes of sisterhood, ambition, and resilience.
            Though written as a "girl's book," its timeless messages have made
            it a classic for all readers.
          </p>
          <div class="book-id">
            <p>ID: 200</p>
          </div>
          <button class="remove">Delete Book</button>
        </div>
      </div>
    </div>

    
</html>
